* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
}

body {
    background-color: hsl(216, 12%, 8%);
    color: #fff;

    max-width: 1440px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: hsl(213, 19%, 18%);
    height: 485px;
    width: 480px;
    border-radius: 40px;
}

.container__star {
    padding: 15px;
    height: 50px;
    background-color: hsl(212, 13%, 29%);
    border-radius: 50%;
}

.hidden {
    display: none;
}