* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
}

body {
    background-color: hsl(216, 12%, 8%);
    color: hsl(217, 12%, 63%);
    font-family: 'Overpass', sans-serif;

    max-width: 1440px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container, .container__thanks {
    background-color: hsl(213, 19%, 18%);
    height: 485px;
    width: 480px;
    border-radius: 40px;
    padding: 40px;

}

.container__star {
    padding: 15px;
    height: 50px;
    background-color: hsl(210, 11%, 25%);
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 35px;
}

.container__text__heading {
    color: hsl(0, 0%, 100%);
    margin-bottom: 10px;
}

.container__text__paragraph, .container__thanks__paragraph {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 30px;
}

.container__rating {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.container__rating__number {
    background-color: hsl(210, 11%, 25%);
    font-size: 18px;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.container__rating__number.active {
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

.container__rating__number:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}


.container__button {
    border: none;
    border-radius: 25px;
    width: 100%;
    padding: 15px 0;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    font-family: inherit;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3px;

    margin-top: 35px;
    cursor: pointer;
}

.container__button:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

.container__button:active {
    transform: translate(1px, -1px);
}

/* STYLING THANK YOU CONTAINER  */

.container__thanks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.container__thanks__illustration {
    height: 125px;
}

.container__thanks__rated {
    background-color: hsl(210, 11%, 25%);
    color: hsl(25, 97%, 53%);
    padding: 12px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}

.container__thanks__heading {
    color: hsl(0, 0%, 100%);
    margin-top: 15px;
}

.container__thanks__paragraph {
    text-align: center;
}

/* ATTIBUTION STYLING  */

.attribution { 
    margin-top: 5px;
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}

.hidden {
    display: none;
}